{% extends layout? : "@PayumCore/layout.html.twig" %}

{% block payum_body %}

  {% block airwallex_payment_form %}
    <form method="POST" action="{{ actionUrl }}" id="airwallex-payment-form" style="display: none">
      <input type="hidden" name="payment_intent" id="payment_intent" value="{{ intentId }}"/>
      <input type="hidden" name="detail" id="payment_detail" value=""/>
    </form>

    <div id="payment-form">
    {% if imgUrl %}
			<img style="max-width: 100%; height: auto;" src="{{ imgUrl }}" />
    {% endif %}
      <div style="font-size: 24px; text-align: center; margin: 20px 0;">
        {{ amount}}
      </div>
      <div id="loading" style="text-align: center;">
        <svg class="animate-spin w-5 h-5" fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 0.75c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0c7.042 0.001 12.75 5.71 12.75 12.751 0 3.521-1.427 6.709-3.734 9.016v0c-0.226 0.226-0.365 0.538-0.365 0.883 0 0.69 0.56 1.25 1.25 1.25 0.346 0 0.659-0.14 0.885-0.367l0-0c2.759-2.76 4.465-6.572 4.465-10.782 0-8.423-6.828-15.251-15.25-15.251h-0z"></path>
        </svg>
      </div>
      <div id="dropIn"></div>
      <div id="error" style="margin: 10px 0; color: #ff3333; font-weight: bold"></div>
      <div id="success" style="margin: 5px 0; border-radius: 5px; text-align: center; background-color: #1b841d; color: #ffffff; padding: 5px;">Payment Successful!</div>
      <div style="margin-top: 10px; text-align: center;">
        <small>
        Powered by
        </small>
        <br>
        <svg height="12" viewBox="0 0 173 24"><defs><linearGradient x1="0%" y1="50%" y2="50%" id="ec4cc420-adf4-4e30-9407-6bd5239c36da"><stop stop-color="#FF4F42" offset="0%"></stop><stop stop-color="#FF8E3C" offset="100%"></stop></linearGradient></defs><g fill="none" fill-rule="evenodd"><path d="M149.02 10.909c2.187 0 3.031 1.337 3.149 2.502a.126.126 0 0 1-.126.138h-6.008a.126.126 0 0 1-.126-.143c.163-1.137 1.172-2.497 3.111-2.497zm3.293 7.403a.251.251 0 0 0-.204.104c-.542.762-1.424 1.232-2.741 1.232-1.814 0-3.39-1.191-3.56-2.878a.126.126 0 0 1 .127-.14h10.794c.031-.094.094-.817.094-1.477 0-5.03-3.001-8.017-7.866-8.017-4.075 0-7.834 3.207-7.834 8.237 0 5.25 3.854 8.33 8.182 8.33 3.912 0 6.39-2.186 7.193-4.828.006-.017.032-.115.062-.26a.252.252 0 0 0-.247-.303h-4zm9.545-3.02l-5.118-7.289a.251.251 0 0 1 .207-.395h5.033c.085 0 .165.043.211.114l2.63 3.999c.05.076.163.076.212-.001l2.57-3.996a.252.252 0 0 1 .212-.116h4.743c.206 0 .325.23.207.397l-5.049 7.098a.25.25 0 0 0-.001.289c1.653 2.35 3.542 5.067 5.238 7.443.119.167-.001.397-.206.397h-4.997a.253.253 0 0 1-.212-.113l-2.727-4.13a.126.126 0 0 0-.21-.001c-.817 1.213-1.884 2.903-2.694 4.131a.252.252 0 0 1-.211.113h-4.658a.251.251 0 0 1-.208-.394l5.03-7.258c.059-.087.058-.201-.002-.287zm-27.117 7.689V.723c0-.139.113-.251.253-.251h4.297c.14 0 .252.112.252.251v22.258a.252.252 0 0 1-.252.251h-4.297a.252.252 0 0 1-.253-.251zm-7.076 0V.723c0-.139.113-.251.253-.251h4.296c.14 0 .253.112.253.251v22.258a.252.252 0 0 1-.253.251h-4.296a.252.252 0 0 1-.253-.251zm-10.625-3.427c1.927 0 3.57-1.509 3.57-4.15 0-2.703-1.611-4.118-3.57-4.118-2.054 0-3.602 1.415-3.602 4.118 0 2.578 1.612 4.15 3.602 4.15zm3.601 1.666c-.695 1.51-2.274 2.452-4.233 2.452-4.612 0-7.803-3.489-7.803-8.3 0-4.652 3.001-8.236 7.645-8.236 2.812 0 4.044 1.54 4.36 2.264V7.86c0-.14.113-.252.252-.252h4.139c.14 0 .252.113.252.252v15.12a.252.252 0 0 1-.252.252h-4.135a.252.252 0 0 1-.253-.255c.009-.568.028-1.88.028-1.757zM98.36 7.78l2.878 8.71c.038.118.207.115.241-.005l2.458-8.693a.252.252 0 0 1 .243-.184h4.173c.17 0 .292.164.242.326l-4.709 15.121a.252.252 0 0 1-.241.177h-4.403a.253.253 0 0 1-.239-.171l-3.233-9.562c-.039-.115-.202-.115-.24 0l-3.172 9.56a.252.252 0 0 1-.24.173H87.62a.253.253 0 0 1-.241-.176l-4.77-15.121a.252.252 0 0 1 .241-.327h4.456c.114 0 .213.075.244.183l2.458 8.666c.034.12.202.123.242.006l2.908-8.683a.253.253 0 0 1 .24-.172h4.72c.11 0 .207.07.24.173zm-17.053 4.235a.252.252 0 0 1-.295.248 6.953 6.953 0 0 0-1.221-.097c-1.927 0-3.665 1.132-3.665 4.244v6.57a.252.252 0 0 1-.253.252h-4.296a.252.252 0 0 1-.253-.251V7.86c0-.14.113-.252.253-.252h4.138c.14 0 .253.113.253.252v1.854c.821-1.76 2.812-2.263 4.075-2.263.384 0 .767.041 1.067.107a.25.25 0 0 1 .197.245v4.212zM64.153 22.981V7.86c0-.14.113-.252.252-.252h4.297c.14 0 .253.113.253.252v15.12a.252.252 0 0 1-.253.252h-4.297a.252.252 0 0 1-.252-.251zM66.522.03c1.58 0 2.843 1.258 2.843 2.798s-1.264 2.798-2.843 2.798c-1.517 0-2.78-1.257-2.78-2.798 0-1.54 1.263-2.797 2.78-2.797zm-17.67 14.147h5.077a.126.126 0 0 0 .12-.167l-2.51-7.196a.127.127 0 0 0-.238-.001l-2.568 7.197a.126.126 0 0 0 .12.167zm6.656 4.527h-8.299a.252.252 0 0 0-.238.168l-1.492 4.191a.252.252 0 0 1-.238.168h-4.7a.252.252 0 0 1-.237-.34L48.55 1.106a.252.252 0 0 1 .236-.162h5.43c.106 0 .2.065.237.163l8.152 21.786a.252.252 0 0 1-.237.34h-4.89a.253.253 0 0 1-.24-.169l-1.49-4.191a.253.253 0 0 0-.24-.168z" fill="#000"></path><path d="M34.219 9.305a4.394 4.394 0 0 1 1.044 4.71l-2.32 6.298c-.609 1.654-1.996 2.932-3.712 3.267a4.828 4.828 0 0 1-4.678-1.669L10.64 5.256a.306.306 0 0 0-.522.092L5.591 17.58c-.094.252.155.497.403.396l5.554-2.267a2.453 2.453 0 0 1 3.258 1.528c.411 1.257-.28 2.615-1.494 3.11l-7.256 2.961c-1.343.548-2.887.45-4.096-.355a4.404 4.404 0 0 1-1.686-5.197L5.623 3.311C6.257 1.598 7.7.389 9.484.077a4.97 4.97 0 0 1 4.714 1.734l7.985 9.56 7.345-2.998c1.633-.665 3.43-.309 4.69.932zm-4.237 4.802c.093-.253-.156-.498-.403-.397l-4.058 1.656 2.434 2.915c.152.181.441.13.523-.092l1.504-4.082z" fill="url(#ec4cc420-adf4-4e30-9407-6bd5239c36da)"></path></g></svg>
      </div>
    </div>
  {% endblock %}

  {% block airwallex_init_js %}
    <script
      type="text/javascript"
      src="https://checkout.airwallex.com/assets/elements.bundle.min.js"
    ></script>
    <script>
      try {
      Airwallex.init({
      {% if use_sandbox %}
        env: 'prod',
        envTODO: 'staging',
      {% else %}
        env: 'prod',
      {% endif %}
        origin: window.location.origin,
        fonts: [
          {
            src:
              'https://checkout.airwallex.com/fonts/CircularXXWeb/CircularXXWeb-Regular.woff2',
            family: 'AxLLCircular',
            weight: 400,
          },
        ],
      });

      const dropIn = Airwallex.createElement('dropIn', {
        intent_id: '{{ intentId }}',
        client_secret: '{{ clientSecret }}',
        currency: '{{ currencyCode }}',
        applePayRequestOptions: {
          countryCode: '{{ countryCode }}',
        },
        googlePayRequestOptions: {
          countryCode: '{{ countryCode }}',
        },
        autoCapture: false,
      });

      const domElement = dropIn.mount('dropIn');

      domElement.addEventListener('onReady', (event) => {
        document.getElementById('dropIn').style.display = 'block'; // show element when mounted
        document.getElementById('loading').style.display = 'none'; // hide loading tag when element is mounted
      });

      domElement.addEventListener('onSuccess', (event) => {
        document.getElementById('success').style.display = 'block'; // show success block
        document.getElementById('payment_detail').value = JSON.stringify(event.detail);

        window.alert(JSON.stringify(event.detail));
        document.getElementById('airwallex-payment-form').submit();
      });

      domElement.addEventListener('onError', (event) => {
        const { error } = event.detail;
        document.getElementById('error').style.display = 'block'; // show error block
        document.getElementById('error').innerHTML = error.message; // set error message
        console.error('There was an error', error);
      });
    } catch (error) {
      document.getElementById('loading').style.display = 'none'; // hide loading state
      document.getElementById('error').style.display = 'block'; // show error
      document.getElementById('error').innerHTML = error.message; // set error message
      console.error('There was an error', error);
    }

  </script>
  {% endblock %}
{% endblock %}
{% block payum_stylesheets %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
/* Variables */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#payment-form {
  width: 30vw;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.hidden {
  display: none;
}

/* Buttons and links */
button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

#full-featured-card {
  width: 540px;
  /* Example: hide container when element has not mounted */
  display: none;
}

#success {
  display: none;
}

#error {
  display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

@media only screen and (max-width: 600px) {
  #payment-form {
    width: 80vw;
  }
}

</style>
{% endblock %}
